/*General styles*/

body{  margin: 0;

font-family: 'Arial', sans-serif;

scroll-behavior:smooth;

}

header {

  background: #333;

  color: white;

  padding: 10px 20px;}

  .navbar {

  display: flex;

  justify-content: space-between;

  align-items: right; transition: 0.3s ease;

    border-bottom: 3px solid transparent; font-size: 1rem;

    color: white;    margin-left: 1rem;

    font-weight: 500;color: #b74b4b;

    border-bottom: 3px solid #b74b4b;

  }

  .nav-links {

  list-style: none;

  display: flex;

  align-items: center;

}

.nav-links li{

    margin:0 10px;

    align-items: center;

}

.nav-links a{

    color:white;

    text-decoration: none;

    align-items: center;

}

.menu-toggle{

    display:none;

    font-size:24px;

    cursor:pointer;

}

/*Hero Section*/

.hero{

    background:linear-gradient(to right,#b74b4b,#b74b4b);

    color:black;

    text-align: center;

    padding: 60px 20px;

}

.hero h1 span{

    color:black;

}

.btn{

    background: white;

    color: #333;

    padding:10px 20px;

    text-decoration: none;

    margin-top: 20px;

    display: inline-block;

    border-radius: 5px;

}

/*Abouct Section*/

.about{

    padding: 40px 20px;

    text-align: center;

    background-color: #333;

}

.about-content{

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

}

.about-content img{

    max-width: 250px;

    border-radius: 10%;

    margin: 30px;

}

.btn{

    background: white;

    color: #333;

    padding:10px 20px;

    text-decoration: none;

    margin-top: 20px;

    display: inline-block;

    border-radius: 5px;

}

/*Porject Section*/

.projects{

    padding: 40px 20px;

    background: #b74b4b;

    text-align: center;

}

.project-grid{

    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    gap: 20px;

}

.project-card {

  background: #eee;

  padding: 20px;

  border-radius:10px;

  transition: transform 0.3s;

}

.project-card:hover{

    transform: scale(1.05);

}

/*Contact Section*/

.contact{

    padding: 40px 20px;

    text-align: center;

    background-color: #333;

}

form{

    max-width: 400px;

    margin:auto;

}

input,textarea{

    width:100%;

    padding: 10px;

    margin: 10px 0;

}

button{

    background: #4facfe;

    color: white;

    border: none;

    padding: 10px;

    width:100%;

    cursor: pointer;

}

button:hover{

    background: #00c6ff;

}

.btn{

    background: white;

    color: #333;

    padding:10px 20px;

    text-decoration: none;

    margin-top: 20px;

    display: inline-block;

    border-radius: 5px;

}

/*Footer*/

footer {

  text-align: center;

  padding: 1rem;

  background: #b74b4b;

  color: black;

}

/*Responsive Navbar*/

@media screen and (max-width:768px){

    .nav-links{

        display: none;

        flex-direction: column;

        background: #333;

        position: absolute;

        top: 60px;

        right: 0;

        width: 200px;

    }

}

.nav-links.show{

    display: flex;

}

.menu-toggle{

    display: block;

}